.App {
  text-align: center;
}

.App-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: #02023b;
  color: white;
}
