:root {
  --main-bg-color: #02023b;
  --main-text-color: #f8f9fa;
  --leet-green: #05e273;
}

body {
  margin: 0;
  /* TODO: load fonts */
  font-family: Sora, system-ui, sans-serif, -apple-system,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
